.App {
}

.container {
  width: 100%;
  height: 400px;
  border: 1px solid red;
  border-radius: 30px;
  text-align: center;
  margin: 0 auto;
}

.card {
  margin: 0 auto;
  margin-top: 40px;
  border: 2px solid grey;
  width: 300px;
  height: 300px;
  position: relative;
}

.flotar {
  position: absolute;
  top: 0;
}
.card-image {
  border: 6px dotter black;
  align-content: center;
  margin: 60px;
  height: 200px;
}
.material-icons {
  height: 30px;
  width: 30px;
}
.flotar * {
  font-size: 10px;
  align-content: center;
  text-align: center;
  margin: 0 auto;
}
