.App {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.card {
  margin: 0 auto;
  border: 2px solid grey;
  width: 400px;
  height: 400px;
  position: relative;
}

.flotar {
  position: absolute;
  top: 0;
}
.card-image {
  border: 6px dotter black;
  align-content: center;
  margin: 60px;
}
.material-icons {
  height: 30px;
  width: 30px;
}
.flotar * {
  font-size: 10px;
  align-content: center;
  text-align: center;
  margin: 0 auto;
}
